/* Color Theme Swatches in Hex */
.Arquitetura-1-hex { color: #3F4B59; }
.Arquitetura-2-hex { color: #5E92BF; }
.Arquitetura-3-hex { color: #9CC1D9; }
.Arquitetura-4-hex { color: #D9C5B4; }
.Arquitetura-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in Hex */
.Viagem-1-hex { color: #04ADBF; }
.Viagem-2-hex { color: #04BFBF; }
.Viagem-3-hex { color: #025959; }
.Viagem-4-hex { color: #A0A603; }
.Viagem-5-hex { color: #F2E0C9; }

html {background-color: #025959;}
html {color: #F2E0C9;}
